// CSS variables
:root {
    --tiki-top-light-bg:  linear-gradient(to bottom, #818181 0%, #393939 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-light-bg: linear-gradient(to bottom, #818181 0%, #393939 100%);
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-top-dark-bg:  linear-gradient(to bottom, #818181 0%, #393939 100%);
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-dark-bg: linear-gradient(to bottom, #818181 0%, #393939 100%);
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: var(--tiki-top-dark-bg);
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}