// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #757575; // #aaaaaa; contrast increased
$secondary: #212529;
$success: #218739; // #28a745; contrast increased
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$theme-colors: (
     "primary":           $primary, //#757575, // #ababab, -- Darkened to meet wcag guidelines
     "secondary":         $secondary, //
     "success":           $success, //  #5cb85c,
     "info":              $info, // #5bc0de,
     "warning":           $warning, // #f0ad4e,
     "danger":            $danger, //#d9534f,
     "light":             #ffffff,
     "dark":              #000000
);

// Options
// Spacing

// Body
$body-bg: #eee;
$body-color: #000;

// Links
$link-color: $primary;
$link-hover-color: #999999;
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Typography
//$font-family-sans-serif: Verdana, Geneva, Arial, Helvetica, sans-serif;
$text-muted: #6D747E;
$blockquote-footer-color: #6F7780;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #555555;
$btn-primary-bg: #eeeeee;
$btn-primary-border: #cccccc;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: $secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

// Forms
//$input-border: #dddddd;
// Dropdowns
$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;

// Navs
// Navbar
$navbar-light-color: #888888;
$bg-light: #fafafa;
$navbar-light-border: darken($bg-light, 6.5%);

// Navbar links
$navbar-light-color: #888888;

// Navbarlinks ??
//$navbar-dark-color: #ffffff;
//$navbar-dark-hover-color: darken(#fff, 10%);
//$navbar-dark-hover-bg: #3270bd;
//$navbar-dark-active-color: #ffffff;
//$navbar-dark-active-bg: #3270bd;
//$navbar-dark-disabled-color: #cccccc;

// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: #6D747E;

// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$tiki-top-bg-light: #fff;
$tiki-top-light-color: $navbar-light-color;
$tiki-top-light-link-color: #000;
$tiki-top-light-link-hover-color: #000;
//
$tiki-topbar-light-bg: #fff;
$tiki-topbar-light-color: #888888;
$tiki-topbar-light-link-color: #595959;
$tiki-topbar-light-link-hover-color: #888888;
//
$tiki-top-bg-dark: #fafafa;
$tiki-top-dark-color: #333;
$tiki-top-dark-link-color: #333;
$tiki-top-dark-link-hover-color: #333;
//
$tiki-topbar-bg-dark: #fafafa;
$tiki-topbar-dark-color: #333;
$tiki-topbar-dark-link-color: #333;
$tiki-topbar-dark-link-hover-color: #333;