//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgb(233, 84, 32);
    --tiki-top-light-color: #fff;
    --tiki-top-light-link-color: #fff;
    --tiki-top-light-link-hover-color: rgba(255, 255, 255, 0.75);

    --tiki-topbar-light-bg: rgb(233, 84, 32);
    --tiki-topbar-light-color: #fff;
    --tiki-topbar-light-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(255, 255, 255, 0.75);

    --tiki-top-dark-bg: rgb(119, 41, 93);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-dark-bg: #672250; // rgb(119, 41, 93); Darkened for visual interest
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: #fff;

    //    --tiki-top-light-border:;
    //    --tiki-top-dark-border:;
    //    --tiki-top-border-width:;
    //    --tiki-topbar-light-border:;
    //    --tiki-topbar-dark-border:;
    //    --tiki-topbar-border-width:;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}