//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgb(248, 249, 250);
    --tiki-top-light-color: #000;
    --tiki-top-light-link-color: #000;
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-top-light-link-hover-bg: rgba(0, 0, 0, 0.03);

    --tiki-topbar-light-bg: rgb(248, 249, 250);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-topbar-light-link-hover-bg: rgba(0, 0, 0, 0.03);

    --tiki-top-dark-bg: rgba(52, 89, 230, 1.0);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: #fff;
    --tiki-top-dark-link-hover-color: #fff;
    --tiki-top-dark-link-hover-bg: rgba(255, 255, 255, 0.1);

    --tiki-topbar-dark-bg: rgba(33, 37, 41, 1.0);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: #fff;
    --tiki-topbar-dark-link-hover-color: #fff;
    --tiki-topbar-dark-link-hover-bg: rgba(255, 255, 255, 0.1);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}