//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-top-light-color: rgba(0, 0, 0, 0.4);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-top-light-link-hover-color: #3399f3;

    --tiki-topbar-light-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.4);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-topbar-light-link-hover-color:  #3399f3;

    --tiki-top-dark-bg: linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-dark-bg:  linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-dark-link-hover-color: #fff;

    --tiki-top-light-border: solid #bebebe;;
    --tiki-top-dark-border: solid rgb(85, 85, 85);
    --tiki-top-border-width: 1px;
    --tiki-topbar-light-border: solid #bebebe;;
    --tiki-topbar-dark-border: solid rgb(85, 85, 85);
    --tiki-topbar-border-width: 1px;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}