//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: #{$navbar-light-bg};
    --tiki-top-light-color: #6B7785;
    --tiki-top-light-link-color: #{$gray-800};
    --tiki-top-light-link-hover-color: #{$gray-800};

    --tiki-topbar-light-bg: #{$navbar-light-bg};
    --tiki-topbar-light-color: #6B7785;
    --tiki-topbar-light-link-color: #{$gray-800};
    --tiki-topbar-light-link-hover-color: #{$gray-800};

    --tiki-top-dark-bg: #{$navbar-dark-bg};
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};
    --tiki-top-dark-link-hover-bg: #{darken($navbar-dark-bg, 6.5%)};
    --tiki-top-dark-link-active-bg: #{darken($navbar-dark-bg, 6.5%)};

    --tiki-topbar-dark-bg: #{$navbar-dark-bg};
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
    --tiki-topbar-dark-link-hover-bg: #{darken($navbar-dark-bg, 6.5%)};
    --tiki-topbar-dark-link-active-bg: #{darken($navbar-dark-bg, 6.5%)};

    //    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    //    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}