//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: #EBD6F9B3;
    --tiki-top-light-color: #343a40;
    --tiki-top-light-link-color: rgba(52, 58, 64, 0.8);
    --tiki-top-light-link-hover-color: #343a40;

    --tiki-topbar-light-bg: rgba(233, 233, 232, 1);
    --tiki-topbar-light-color: #343a40;
    --tiki-topbar-light-link-color: rgba(52, 58, 64, 0.8);
    --tiki-topbar-light-link-hover-color: #343a40;

    --tiki-top-dark-bg: rgba(232, 50, 131, 1);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.8);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-dark-bg: rgba(232, 50, 131, 1);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.8);
    --tiki-topbar-dark-link-hover-color: #fff;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: rgba(226, 214, 249, 0.63);
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #000; //#{$dropdown-link-hover-color};
}