// This file can be imported by themes to solve the problem of specifying different colors for the top zone and topbar zone,
// since this isn't possible with the standard Bootstrap navbar-dark and navbar-light variables.
// Use of this file assumes one color set for the top zone and its parents, and one color set for the topbar zone and its parents.
// Admin navbar and anchors (when UAB is off) also can get color information here for themes that include this file.
// Exceptions can be made as needed with specific CSS.
// Tiki CSS variables aren't added yet for borders and box-shadows so these should be added with a SCSS/CSS rule for top parents like .topbar-wrapper.
//
// Themes using this file should define these variables (example is from Cerulean theme _variabls.scss):
//:root {
//    --tiki-top-light-bg:  linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
//    --tiki-top-light-color: #{$navbar-light-color};
//    --tiki-top-light-link-color: #{$navbar-light-color};
//    --tiki-top-light-link-hover-color: #{$navbar-light-link-hover-color};
//    --tiki-top-light-border: ;
//    --tiki-top-light-box-shadow: ;
//
//
//    --tiki-topbar-light-bg: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
//    --tiki-topbar-light-color: #{$navbar-light-color};
//    --tiki-topbar-light-link-color: #{$navbar-light-link-color};
//    --tiki-topbar-light-link-hover-color: #{$navbar-light-link-hover-color};
//    --tiki-topbar-light-border: ;
//    --tiki-topbar-light-box-shadow: ;
//
//    --tiki-top-dark-bg:  linear-gradient(#545a5f, #343a40 60%, #31373c);
//    --tiki-top-dark-color: #{$navbar-dark-color};
//    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
//    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-top-dark-border: ;
//    --tiki-top-dark-box-shadow: ;
//
//    --tiki-topbar-dark-bg: linear-gradient(#545a5f, #343a40 60%, #31373c);
//    --tiki-topbar-dark-color: #{$navbar-dark-color};
//    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
//    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-topbar-dark-border: ;
//    --tiki-topbar-dark-box-shadow: ;
//}

// To combine specifications for background colors and background images into one file, and running into problems testing with Amelia, I believe now that, in the case of
// background colors, only the top-most ancestor should have the color specified, just like with bg-images. Otherwise, the bg image is applied to the top-most parent, but it's overlaid
// by the colored background that it contains.


// Top module zone and parent divs - Light color
.layout_basic .page-header.navbar-light-parent.bg-light-parent,        // Single-container layout -- Parent of the top module zone
.layout_classic .header_outer.bg-light-parent,                         // Classic Tiki layout -- Parent of the top module zone
.tiki-admin .navbar-light-parent,                       // Classic Tiki unified admin backend
.tiki-admin .top_modules.navbar-light-parent,
.layout_social header.navbar-light-parent.bg-light-parent,             // Classic Bootstrap layout (fixed-top navbar) -- Complete header
.layout_social header.navbar.navbar-light.bg-light                     // Classic Bootstrap layout -- Menu itself
{
    background: var(--tiki-top-light-bg) !important;
    color: var(--tiki-top-light-color);
    a:not(.dropdown-item),
    .btn.btn-link {
        color: var(--tiki-top-light-link-color);
        &:hover {
            color: var(--tiki-top-light-link-hover-color);
            background: var(--tiki-top-light-link-hover-bg);
        }
    }
    box-shadow: var(--tiki-top-light-box-shadow);
}

// Topbar module zone and parent divs - light color
.layout_basic .topbar_modules.navbar-light.bg-light,                  // Topbar, which probably includes another nav menu
.layout_classic .topbar-wrapper.bg-light-parent,                              // Classic Tiki layout -- Parent of the topbar module zone
.layout_social .topbar-wrapper.navbar-light-parent.bg-light-parent,   // Classic Bootstrap topbar wrapper
.admin-content .bg-light                                              // Admin navbar and icons when UAB is off
{
    background: var(--tiki-topbar-light-bg) !important;
    color: var(--tiki-topbar-light-color);
    a:not(.dropdown-item),
    .btn.btn-link,
    a.nav-link {
        color: var(--tiki-topbar-light-link-color);
        &:hover {
            color: var(--tiki-topbar-light-link-hover-color);
            background: var(--tiki-topbar-light-link-hover-bg);
        }
    }
    border: var(--tiki-topbar-light-border);
    border-width: var(--tiki-topbar-border-width);
    box-shadow: var(--tiki-topbar-light-box-shadow);
}

// Top module zone and parent divs - dark color
.layout_basic .page-header.navbar-dark-parent.bg-dark-parent,         // Single-container layout -- Parent of the top module zone
.layout_classic .header_outer.bg-dark-parent,                         // Classic Tiki layout -- Parent of the top module zone
.tiki-admin .navbar-dark-parent,                       // Classic Tiki unified admin backend
.tiki-admin .top_modules.navbar-dark-parent,
.layout_social header.navbar-light-parent.bg-dark-parent,             // Classic Bootstrap layout (fixed-top navbar) -- Complete header
.layout_social header.navbar.navbar-dark.bg-dark                     // Classic Bootstrap layout -- Menu itself
{
    background: var(--tiki-top-dark-bg) !important;
    color: var(--tiki-top-dark-color);
    a:not(.dropdown-item),
    .btn.btn-link,
    a.nav-link  {
        color: var(--tiki-top-dark-link-color);
        &:hover {
            color: var(--tiki-top-dark-link-hover-color);
            background: var(--tiki-top-dark-link-hover-bg);
        }
    }
//    border: var(--tiki-top-dark-border);
//    border-width: var(--tiki-top-border-width);
    box-shadow: var(--tiki-top-dark-box-shadow);
}

// Topbar module zone and parent divs - dark color
.layout_basic .topbar_modules.bg-dark,                               // Single Container layout -- Topbar, which probably includes another nav menu
.layout_classic .topbar-wrapper.bg-dark-parent,                              // Classic Tiki layout -- Parent of the topbar module zone
.layout_social .topbar-wrapper.navbar-dark-parent.bg-dark-parent,     // Classic Bootstrap topbar wrapper
.admin-content .bg-dark
{
    background: var(--tiki-topbar-dark-bg) !important;
    color: var(--tiki-topbar-dark-color);
    a:not(.dropdown-item),
    .btn.btn-link,
    a.nav-link  {
        color: var(--tiki-topbar-dark-link-color);
        &:hover {
            color: var(--tiki-topbar-dark-link-hover-color);
            background: var(--tiki-topbar-dark-link-hover-bg);
        }
    }
    border: var(--tiki-topbar-dark-border);
    border-width: var(--tiki-topbar-border-width);
    box-shadow: var(--tiki-topbar-dark-box-shadow);
}

// Borders
// Classic Bootstrap (social) layout fixed-top header border
header.navbar.fixed-top {
    border-top-width: var(--tiki-fixed-top-border-top-width);
    border-right-width: var(--tiki-fixed-top-border-right-width);
    border-bottom-width: var(--tiki-fixed-top-border-bottom-width);
    border-left-width: var(--tiki-fixed-top-border-left-width);
    border-style: solid;
    &.bg-light {
        border-color: var(--tiki-top-light-border-color);
    }
    &.bg-dark {
        border-color: var(--tiki-top-dark-border-color);
    }
}

// Classic Tiki and Single Container layout top zone border
.layout_basic .page-header.navbar-light-parent.bg-light-parent,
.layout_classic .header_outer.bg-light-parent {
    border: var(--tiki-static-top-light-border);
}
.layout_basic .page-header.navbar-dark-parent.bg-dark-parent,
.layout_classic .header_outer.bg-dark-parent {
    border: var(--tiki-static-top-dark-border);
}

// Apply background: transparent to children of uppermost parent to prevent nested gradients
.tiki.layout_basic:not(.tiki-admin) {
    .page-header .top_modules,
    .page-header .top_modules .navbar,
    .topbar_modules .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}

.tiki.layout_classic {
    .top_modules .navbar,
    .topbar,
    .topbar_modules,
    .topbar_modules .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}

.tiki.layout_social:not(.tiki-admin) {
    header .top_modules,
    header .top_modules .navbar,
    .topbar-wrapper .topbar,
    .topbar .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}
