// $Id$
// Values are specified here to be used in the files imported by tiki_base.scss and theme style sheets.

@import "../../default/scss/variables";
// @import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins/buttons";

// Override Bootstrap variables
$enable-negative-margins: true !default;
$text-muted: #53595F !default;
$form-text: $text-muted !default;
$padding-y: .5rem !default; // vendor/twbs/bootstrap/scss/bootstrap-grid
$padding-x: .75rem !default;

$tiki-module-h3-card-title-font-size: $h4-font-size !default;
// Older
$tiki-topmodules-row-sidemargins: 0 !default;
$tiki-topbar-row-sidemargins: 0 !default;
//$tiki-topbar-row-margin-bottom: 1.4rem !default;
//$tiki-navbar-fixed-height: 3.25rem !default;

// Add Tiki legacy breadcrumb styles as variables.
$tiki-breadcrumb-font-style: normal !default;
//$breadcrumb-font-size: 90% !default; This is a Bootstrap variable so just change value in default/scss/variables


// Enable bringing center column background back up to topbar when side column toggle icons are used
$tiki-top-margin-compensation-for-side-col-toggle: -$line-height-base !default;

// Calendars
// Full Calendar priority classes removed (Aug. 2022)

// Admin
// $admbox-border: $btn-primary-border !default; //#cccccc
// $admbox-bg: $btn-primary-bg !default; // #cccccc
// $admbox-color: $btn-primary-color !default; // #333333
// $admbox-hover-border: lighten($btn-primary-border, 5%) !default; // #333333
// $admbox-hover-bg: lighten($btn-primary-bg, 5%) !default; // #aaaaaa
// $admbox-hover-color: lighten($btn-primary-color, 5%) !default; //#ffffff
// $admbox-off-border: darken($btn-primary-border, 40%) !default; //#a9a9a9
// $admbox-off-color: darken($btn-primary-color, 40%) !default; //#9f9f9f
// $admbox-off-hover-border: darken($btn-primary-border, 40%) !default; //#a9a9a9
// $admbox-off-hover-color: darken($btn-primary-color, 40%) !default; //#666666

$tiki-table-column-bg-odd: darken($table-accent-bg, 5%) !default;
// Correction for path for sorich87/bootstrap-tour's bootstrap-tour-standalone.less (maybe obsolete? This is only instance of this variable - Aug. 2022)
$tiki-bootstrap-path: "../../../twbs/bootstrap/scss/" !default;

// inline code
$code-color: $gray-900;
$code-bg:    $gray-100;

// Tracker
$tiki-modal-link-color: $link-color !default;
$tiki-modal-link-hover-color: $link-hover-color !default;

// Make hierarchical arrangement of admin options more clear
$tiki-secondary-legend-font-size: 1.35rem !default;

// Plugin Pivot Table variables
$tiki-pvtUi-color: $body-color !default;
$tiki-pvtUI-bg: $body-bg !default;
$tiki-pvtUI-mb: 30px !default;
$tiki-pvt-font-size: $font-size-base !default;
$tiki-pvt-table-color: $table-color;
$tiki-pvt-table-bg: $table-bg !default;
$tiki-pvt-table-th-bg: $table-striped-bg !default;
$tiki-pvt-table-th-color: $table-color !default;
$tiki-pvt-table-border-color: $table-border-color !default;
$tiki-pvt-modal-content-bg: $modal-content-bg !default;
$tiki-pvtAttr-color: $input-color; // $btn-primary-color !default; // Temporary comment-out May 2022 - Gary
$tiki-pvtAttr-bg: $input-bg;
$tiki-pvtAttr-border-color: $input-border-color; // $btn-primary-border;
$tiki-pvtAttr-border-radius: $input-border-radius;
$tiki-pvtFilterBox-button-color: $dark; // $btn-primary-color !default;
$tiki-pvtFilterBox-button-bg: $light; // $btn-primary-bg !default;
$tiki-pvtFilterBox-button-hover-bg: darken($light,10%); // adjust-hue($btn-primary-bg, 10%) !default;
$tiki-pvtAggregator-color: $input-color !default;
$tiki-pvtAggregator-bg: $input-bg !default;
$tiki-pvtAggregator-border: $input-border-color !default;
$tiki-pvtAggregator-border-radius: $input-border-radius !default;
$tiki-pvtSelect-font-size: $font-size-base !default;
$tiki-c3-color: $body-color !default;

// Theme overrides of jQuery-UI styles
$tiki-jq-ui-btn-font-weight: normal !default;
$tiki-sheet-font-size: $font-size-base !default;
$tiki-sheet-border-color: $table-border-color !default;

// CKEditor colors
$tiki-editor-bg: $body-bg !default;
$tiki-editor-text-color: $body-color !default;

//jQuery-UI
$tiki-ui-default-border: $nav-tabs-border-color !default;
$tiki-ui-default-bg: $body-bg !default;
$tiki-ui-font-weight: $font-weight-normal !default;
$tiki-ui-default-color: $link-color !default;
$tiki-ui-default-link-color: $link-color !default;
$tiki-ui-default-link-active-color: $nav-tabs-link-active-color !default;
$tiki-ui-default-link-active-bg: $nav-tabs-link-active-bg !default;
$tiki-ui-active-border-color: $nav-tabs-link-hover-border-color !default;
$tiki-ui-active-bg: $nav-tabs-link-active-bg !default;
$tiki-ui-font-weight: $font-weight-normal !default;
$tiki-ui-active-color: $nav-tabs-link-active-color !default;

// color of the interactive translation checkbox
$tiki-color_pigeon_post_approx: #b1c5d8 !default;
$tiki-color_bright_gray_approx: #3e4551 !default;
$tiki-color_picton_blue_approx: #33b5e5 !default;
$tiki-color_pizazz_approx: #ff8800 !default;
$tiki-color_gray_suit_approx: #c1c2cd !default;
$tiki-color_zircon_approx: #f4f5ff !default;
$tiki-intertrans_background:#03657d !default;

// Blockquote
$blockquote-color: #595959 !default; // was #7a7a7a, updated for WAI compliance
$blockquote-footer-color: $blockquote-color !default; // Bootstrap 5
$blockquote-left-border-color: #e5e5e5 !default;

// Smartmenus
//$megamenu-dropdown-link-color: $dropdown-link-color;

// Tiki CSS variables
:root {
    --tiki-fixed-top-site-title-font-size: 1.8rem;          // Fixed-top position (Basic Bootstrap layout)
    --tiki-fixed-top-site-title-font-weight: 700;
    --tiki-fixed-top-site-subtitle-font-size: 1.4rem;
    --tiki-fixed-top-site-subtitle-font-weight: 400;

    --tiki-site-title-font-size: 2rem;                      // Static position (Classic Tiki and Single Container layouts)
    --tiki-site-title-font-weight: 700;
    --tiki-site-subtitle-font-size: 1.5rem;
    --tiki-site-subtitle-font-weight: 400;
    --tiki-top-border-width: 0;
    --tiki-static-top-light-border: none;
}

header.navbar.fixed-top {
    --tiki-fixed-top-border-top-width: 0px;
    --tiki-fixed-top-border-right-width: 0px;
    --tiki-fixed-top-border-bottom-width: 0px;
    --tiki-fixed-top-border-left-width: 0px;
//    --tiki-topbar-light-border-color: #000;
}