// $Id$
// Calendar
// Full Calendar selectors removed (Aug. 2022)

@media (min-width: breakpoint-min(lg)) {
    .col1 .table-responsive > .caltable {
        table-layout: auto;
        .weeks { padding: 8px; }
    }
    .wp-trackercalendar {
        min-height: 30em;
    }
}

@media (max-width: breakpoint-max(sm)) {
    .tiki_calendar .col1 #editcalitem {
        .modal-body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #editcalitem {
        .wikitext .summary { padding-top: 0 !important; }
        label { padding-bottom: 0; font-weight: bold; }
    }

    #filtercal {
        left: 0;
    }
}
