//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgba(249, 248, 252, 1);
    --tiki-top-light-color: rgba(0, 0, 0, 0.7);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-light-bg: rgba(249, 248, 252, 1);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-dark-bg: rgba(89, 49, 150, 1);
    --tiki-top-dark-color: rgba(255, 255, 255, 0.9);
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: rgba(255, 255, 255, 0.9);

    --tiki-topbar-dark-bg: rgba(89, 49, 150, 1);
    --tiki-topbar-dark-color: rgba(255, 255, 255, 0.9);
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: rgba(255, 255, 255, 0.9);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: var(--tiki-topbar-dark-link-color);
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}