// $Id$
// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.
// To do: Use variables for global Tiki properties and customize a Tiki variables file per-theme.
$imagePath: "../images/";
// image path use example:
//  body {
//    background-image: url('#{$imagePath}bg.jpg');
//  }

.pagetitle a {
  color: $body-color;
}

$tiki-topmodules-row-sidemargins: 0;
$tiki-topbar-row-sidemargins: -15px;

//body > .container {
//    border: 1px solid #aaaaaa;
//    margin-top: 18px;
//    margin-bottom: 18px;
//}

.container:not(.in-navbar)  {
  background: #fbfbfb;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

//

.bg-dark {
  background: #efefef !important;
}

.navbar-nav {
  display: flex;
}

.navbar .nav-item {
  flex: 1 1 auto !important;
  text-align: center;
}

.navbar .nav-link {
  font-family: Mukta, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .875rem;
  border-left: 1px solid #fff;
  border-bottom: 3px solid #09c;
}

.navbar .nav-link:hover {
//  color: #ff5c1a;
  border-bottom-color: #ff5c1a;
}

//.middle_outer { Removed because of color mismatch with navbar
//  box-shadow: inset 0 45px 0 0 #efefef;
//}

.module .card-header {
  background: top left #eae9e0;
  height: .5em;
  text-align: center;
  margin: 0;
  overflow-y: visible;
  margin-bottom: 1rem;
}

.module h3.card-title {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
//  line-height: 1.8;
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  font-size: .75rem ;
  top: -13px;
  color: #666 !important;
  span.moduletitle {
    padding: .125em .5em;
    background: #fbfbfb;
  }
}

#col2 .card,
#col3 .card,
#col2 .card .card-header,
#col3 .card .card-header {
    border: none;
}

.card-header {
    padding: 10px 15px 0 10px;
}

body.fullscreen {
    .container,
    #col1 {
        border: none;
    }
}

// // navbars with too many items overflows the container - why is this in the theme file?
//.navbar-expand .navbar-nav {
//    flex-wrap: wrap;
//}

//@include media-breakpoint-up(lg) {
//    .navbar-expand-lg .navbar-nav {
//        flex-wrap: wrap;
//    }
//}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem;
  padding-left: .75rem;
}