// $Id$
// This file is for additional SCSS rules beyond what are in _bootstrap-variables.scss.
// Image path example:
$imagePath: "../images/";

body {
  background: #214d68 url('#{$imagePath}body-bg_fw.png') repeat-x;
}

body.tiki.navbar-padding {
  padding-top: 84px;
}

body.fullscreen.tiki.navbar-padding {
  padding-top: 0;
}

.container,
#autosave_preview,
.odd {
  background: #ffffff;
}

.layout_classic .topbar-wrapper {
    width: 100%;
}

.even {
    background: #f0f0f0;
    color: #343a40;
}

.navbar .container {
  background: transparent;
}

.btn-primary {
  border-color: #41cbe7 #223845 #223845 #41cbe7
}

//.layout_basic .top_modules,
//.layout_classic .top_modules.bg-dark-parent {
//  color: #ffffff !important;
//  background: #214d68 url('#{$imagePath}headerbg.jpg') repeat-x 0 100% !important;
//
//  a,
//  .btn-link {
//    color: #ffffff !important;
//  }
//}

//.topbar {
//  margin-bottom: 20px;
//}

//.navbar.bg-light,
//.navbar.bg-dark,
//.topbar,
// div:not(.topbar) .navbar-light .navbar-nav > li,
// .topbar .nav > li,
.siteloginbar_popup .dropdown-menu {
//    background: #2498c7 url('#{$imagePath}topbar-left2.png') no-repeat 100% 0;
//    background-size: auto 100%;
  background: #2498c7;
  background: linear-gradient(to bottom, #2498c7 0%, #047aa8 4%, #1b98c6 39%, #32b5e1 65%, #32bbe9 70%, #44d1fe 100%),url('#{$imagePath}topbar-left.png') no-repeat auto 100%;
}

.bg-light .bg-light,
.bg-dark .bg-dark {
  background: transparent !important;
}

.navbar-light .navbar-nav > .active,
.navbar-light .navbar-nav > .open {
  > a,
  > a:hover,
  > a:focus {
    background: transparent;
  }
}

.navbar-fixed-top .container,
.navbar-fixed-top .container .navbar-light {
  background: transparent;
  border: none;
}

.topbar .nav-link,
.navbar-dark .nav-link,
.navbar-light .nav-link {
  color: #fff !important;
    &:hover {
        color: darken(#fff, 10%) !important;
    }
}

input,
.jumbotron {
  border: 1px solid;
  border-color: #223845 #4d7b9b #4d7b9b #223845;
}

.wikitext {
  h1 {
    color: #000000;
//    line-height: .9em;
  }

  h2 {
    color: #309fc0;
//    line-height: .9em;
    border-bottom: solid 1px #3090c0;
    text-transform: uppercase;
  }

  h3 {
    color: #303030;
    //  line-height: .8em;
    font-style: italic;
  }

  h3.card-title {
    font-style: normal;
  }

  h4 {
    border-bottom: dashed 1px #ccf0ff;
    color: #3f3f3f;
  }

  h5 {
    color: #6f6f6f;
    font-style: italic;
  }

  h6 {
    color: #757575;
  }
}

.wikitext.nopagetitle {
  h1 {
    color: #309fc0;
    border-bottom: solid 1px #3090c0;
    text-transform: uppercase;
  }

  h2 {
    color: #303030;
    font-style: italic;
    border-bottom: none;
    text-transform: none;
  }

  h3 {
    border-bottom: dashed 1px #ccf0ff;
    color: #3f3f3f;
    font-style: normal;
  }

  h4 {
    color: #6f6f6f;
    font-style: italic;
    border-bottom: none;
  }

  h5 {
    color: #909090;
  }
}

h1.pagetitle > a,
h1.pagetitle > a:visited,
h1.pagetitle > a:hover {
  color: #000000;
  text-decoration: none;
}

h3.card-title {
  font-size: 1.4rem;
}

#col2 .content {
  background: #aeebff; //lighten(#42cefb, 15%); // #a7e8fc;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
    margin-top: 30px;
  margin-bottom: 20px;
    margin-left: -15px;
}

#bottom_modules {
  background: #2e3035;
  color: #999999;

  .card-title {
    color: #999999;
  }

  a:hover,
  a:focus {
    color: #024c7b;
  }
}

.card.module,
.card.module > .card-header,
.card.module > .card-body,
.card.module > .card-footer {
  border: none;
  background: transparent;
}

#footer {
    color: #999;
    background: #2e3035;
}
#footer > a {
    color: #aeebff;
}

