// --------- Tiki CSS variables
:root {
    --tiki-top-light-bg:  linear-gradient(#f9fafb, #f8f9fa 60%, #e9eaeb);; // BLUE OPTION: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
    --tiki-top-light-color: #000; //#{$navbar-light-color};
    --tiki-top-light-link-color: #000; //#{$navbar-light-link-color};
    --tiki-top-light-link-hover-color: #000; //#{$navbar-light-link-hover-color};

    --tiki-topbar-light-bg: linear-gradient(#f9fafb, #f8f9fa 60%, #e9eaeb); // BLUE OPTION: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
    --tiki-topbar-light-color: #000; // #{$navbar-light-color};
    --tiki-topbar-light-link-color: #000; // #{$navbar-light-link-color};
    --tiki-topbar-light-link-hover-color: #000; // #{$navbar-light-link-hover-color};

    --tiki-top-dark-bg:  linear-gradient(#545a5f, #343a40 60%, #31373c);
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-dark-bg: linear-gradient(#545a5f, #343a40 60%, #31373c);
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}