//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgba(240, 245, 250, 1);
    --tiki-top-light-color: #485785;
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.6);
    --tiki-top-light-link-hover-color: #485785;

    --tiki-topbar-light-bg: rgba(240, 245, 250, 1);
    --tiki-topbar-light-color: #485785;
    --tiki-topbar-light-link-color: #7b8ab8;
    --tiki-topbar-light-link-hover-color: #485785;

    --tiki-top-dark-bg: #B0C0D5;
    --tiki-top-dark-color: #{$body-color};
    --tiki-top-dark-link-color: #{$body-color};
    --tiki-top-dark-link-hover-color: #{lighten($body-color,10%)};

    --tiki-topbar-dark-bg: #B0C0D5;
    --tiki-topbar-dark-color: #{$body-color};
    --tiki-topbar-dark-link-color: #{$body-color};
    --tiki-topbar-dark-link-hover-color: #{lighten($body-color,10%)};

    --tiki-top-light-box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    --tiki-topbar-light-box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    --tiki-top-dark-box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    --tiki-topbar-dark-box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #fff;
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}