// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
);
// scss-docs-end gray-colors-map
// scss-docs-start theme-color-variables
$primary:       #0001a6;
$secondary:     #adb5bd;
$success:       #56C07B;
$info:          #39A0CB;
$warning:       #F0AD4E;
$danger:        #D9534F;
$light:         $gray-100;
$dark:          $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);
// scss-docs-end theme-colors-map



// Options
// Spacing

// Body
$body-color: #222;

// Links
$link-hover-decoration: none;

// Components
$component-active-bg: #aaaaaa;

// Fonts
$font-family-sans-serif: "Verdana", "Arial", sans-serif;
$font-size-base: .9rem;
$popover-font-size: $font-size-base * .875;

$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 1.8)); // ~36px
$font-size-h2: floor(($font-size-base * 1.7)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.3)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$headings-font-weight: 700;

// Tables
// Buttons
// Forms
// Dropdowns
// Navs

// Navbar
$navbar-light-border: #aaaaaa;

// Navbarlinks ??
$navbar-light-color: $primary;
$navbar-light-hover-color: lighten($primary, 8%);
$navbar-dark-color: $primary;
$navbar-dark-hover-color: lighten($primary, 8%);

// Pagination
$pagination-active-bg: #aaaaaa;
$pagination-active-border: darken(#aaa, 10%);

// Jumbotron
// Cards
$card-border-color: #999999;

// Tooltips
// Popovers
// Badges
// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em;
//$badge-font-weight:                 $font-weight-bold;
$badge-color:                       $black;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
//$badge-border-radius:               $border-radius;
// scss-docs-end badge-variables

// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close

// Code
$code-color: $body-color;
$code-bg: #eee;

$enable-gradients: true;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //