// Lumen 5.2.0 -- This is a copy of vendor/vendor_bundled/thomaspark/bootswatch/dist/lumen/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "lumen" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f6f6f6 !default;
$gray-200: #f0f0f0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #137FAA; // #158cba !default; WCAG
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #EB0C00; // #ff4136 !default; WCAG
$orange:  #fd7e14 !default;
$yellow:  #BD5800; // #ff851b !default; WCAG
$green:   #1D8621; // #28b62c !default; WCAG
$teal:    #20c997 !default;
$cyan:    #187DA5; // #75caeb !default; WCAG

$primary:       $blue !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-700 !default;

$min-contrast-ratio:   1.75 !default;

// Links (added for Tiki)
//
// Style anchor elements.

$link-color:                              #117197;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$text-muted:                  #707070 !important; // added for Tiki
$blockquote-footer-color:     #707070 !important; // added for Tiki

// Tables

$table-bg-scale:              0 !default;

// Form validation (added for Tiki)

// scss-docs-start form-feedback-variables
$form-feedback-valid-color:         #1d8720;
$form-feedback-invalid-color:       #C20A00;

// Buttons

$btn-font-weight:             700 !default;

// Dropdowns

$dropdown-link-color:         #707070; // Changed for Tiki (WCAG)

// Navs

$nav-tabs-border-color:             $gray-200 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-900 !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;
$nav-link-disabled-color: #696969; // Changed for Tiki (WCAG)

// Pagination

$pagination-color:                  $gray-700 !default;
$pagination-bg:                     $gray-200 !default;
$pagination-hover-color:            $pagination-color !default;
$pagination-hover-bg:               $pagination-bg !default;
$pagination-active-border-color:    darken($primary, 5%) !default;
$pagination-disabled-color:         #696969; // Changed for Tiki - WCAG
$pagination-disabled-bg:            $pagination-bg !default;

// Accordion (added for Tiki)
$accordion-button-color: #106E93;

// Figures (added for Tiki)
$figure-caption-color:              #707070 !important;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     $pagination-bg !default;
$breadcrumb-border-radius:          .25rem !default;
$breadcrumb-active-color: #696969; // Added for Tiki (WCAG)

// Modals

$modal-content-border-color:        rgba($black, .1) !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

//--------------------------- Tiki SCSS variables


