//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: #fff;
    --tiki-top-light-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-light-bg: #fff;
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-dark-bg: #02b875;
    --tiki-top-dark-color: #{rgba($white, .9)};
    --tiki-top-dark-link-color: #{rgba($white, .9)};
    --tiki-top-dark-link-hover-color: #80EAD5FF;

    --tiki-topbar-dark-bg: #02b875;
    --tiki-topbar-dark-color: #{rgba($white, .9)};
    --tiki-topbar-dark-link-color: #{rgba($white, .9)};
    --tiki-topbar-dark-link-hover-color: #80EAD5FF;

    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}