//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgba(255, 255, 255, 1);
    --tiki-top-light-color: rgba(0, 0, 0, 0.3);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.3);
    --tiki-top-light-link-hover-color: #1a1a1a;

    --tiki-topbar-light-bg: rgba(255, 255, 255, 1);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.3);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.3);
    --tiki-topbar-light-link-hover-color: #1a1a1a;

    --tiki-top-dark-bg: rgba(26, 26, 26, 1);
    --tiki-top-dark-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-dark-bg: rgba(26, 26, 26, 1);
    --tiki-topbar-dark-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: #fff;

    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}