// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-light-bg: null;
    --tiki-top-light-color: #FEA239;
    --tiki-top-light-link-color: #FEA239;
    --tiki-top-light-link-hover-color: lighten(#FEA239,10%);

    --tiki-topbar-light-bg: #{$top-navbar-bg};
    --tiki-topbar-light-color: #{$gray-100};
    --tiki-topbar-light-link-color: #{$gray-100};
    --tiki-topbar-light-link-hover-color: #{$gray-200};

    --tiki-top-dark-bg: #{$top-navbar-bg};
    --tiki-top-dark-color: #FEA239;
    --tiki-top-dark-link-color: #FEA239;
    --tiki-top-dark-link-hover-color: lighten(#FEA239,10%);

    --tiki-topbar-dark-bg: null;
    --tiki-topbar-dark-color: #{$gray-100};
    --tiki-topbar-dark-link-color: #{$gray-100};
    --tiki-topbar-dark-link-hover-color: #{$gray-200};
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: #{$top-navbar-bg};
    --tiki-admin-dropdown-dark-color: #{$gray-100};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: #{$top-navbar-bg};
    --tiki-admin-dropdown-light-color: #{$gray-100};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$top-navbar-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$top-navbar-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}