// Tiki CSS variables

:root {
    --tiki-top-light-bg: #{$light};
    --tiki-top-light-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-topbar-light-bg: #{$light};
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: rgba(0, 0, 0, 0.7);

    --tiki-top-dark-bg: rgba(42,62,80, 1);
    --tiki-top-dark-color: #{rgba($white, .6)};
    --tiki-top-dark-link-color: #{rgba($white, .6)};
    --tiki-top-dark-link-hover-color: #18bc9c;

    --tiki-topbar-dark-bg: #20445C; //rgba(42,62,80, 1);
    --tiki-topbar-dark-color: #{rgba($white, .6)};
    --tiki-topbar-dark-link-color: #{rgba($white, .6)};
    --tiki-topbar-dark-link-hover-color: #18bc9c;

    --tiki-top-light-border: 1px solid #eee;
    //    --tiki-top-light-box-shadow: ;
    --tiki-topbar-light-border: 1px solid #eee;
    //    --tiki-topbar-light-box-shadow: ;
    //    --tiki-top-dark-border: ;
    //    --tiki-top-dark-box-shadow: ;
    //    --tiki-topbar-dark-border: ;
    //    --tiki-topbar-dark-box-shadow: ;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}

.accordion {
    --bs-accordion-active-bg: #FBE1E0;
    --bs-accordion-active-color: #8d3e3c;
    --bs-accordion-btn-bg: #FDF0F0;
    --bs-accordion-btn-color: #D45E5A;
}