// $Id$ Custom variables for the FiveAlive theme

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-200: #e9ecef !default;
 $gray-300: #dee2e6 !default;
 $gray-400: #ced4da !default;
 $gray-500: #adb5bd !default;
 $gray-600: #868e96 !default;
 $gray-700: #495057 !default;
 $gray-800: #343a40 !default;
 $gray-900: #212529 !default;
 $black:    #000 !default;

$primary: #1174a5 !default;
$success: #56ca75!default;
$secondary: #8452af !default;
$info: #4d3a7d !default;
$warning: #debb27 !default;
$danger: #df6e1e !default;
$light: #fff !default;
$dark: #000 !default;

$theme-colors: (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
) !default;


// Options
// Spacing

// Body
$body-color: $gray-800 !default;
$body-bg: #fff !default;

// Links
$link-hover-decoration: none !default;
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif; // Was Lato
$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 700;

$text-muted:                  #6F7780;
$blockquote-footer-color: $text-muted !default;


// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-bg:                 #2098cd;
$btn-link-disabled-color:         #777777;

// Forms
$input-color-placeholder:         #777777;

// Dropdowns
$dropdown-bg: #1376a8 !default;
$dropdown-link-color: $gray-200 !default;
$dropdown-link-hover-color: #ffffff !default;
$dropdown-link-hover-bg: darken(#1376a8, 10%) !default;
$dropdown-link-active-bg: #0e567a !default;
$dropdown-header-color: #fff !default;

// Navs
$nav-tabs-border-color:             $gray-300 !default;

// Navbar
//$navbar-height:     54px;
//$bg-dark: #043b5a;
$navbar-dark-border: none;

// Navbarlinks ??
$nav-link-padding-y:                 0.9rem;
$navbar-dark-color:                #efefef;
$navbar-dark-hover-color:          #fff;
$navbar-dark-hover-bg:             #000; // transparent;

// Navbar toggle
$navbar-dark-toggle-hover-bg: #dddddd;
$navbar-dark-toggle-icon-bar-bg: #888888;
$navbar-dark-toggle-border-color: #dddddd;


// Pagination
// Jumbotron
// Cards
$card-header-bg: transparent !default;
//$card-border-radius: $border-radius-lg;
$card-text: $body-color !default;
$card-header-bg: transparent !default;
//$card-bg: transparent;
//$card-border-color: transparent;
//$card-inner-border: transparent;
$card-spacer-y: 0.5rem !default;
$card-spacer-x: 1rem !default;

// Tooltips
// Popovers
$popover-body-color: $body-color !default;

// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: $body-color !default;

// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

//$enable-gradients: true;
//$enable-shadows: true;

// - - - - - - - - - - Tiki selector variables ( for _tiki-selectors.scss ) - - - - - - - - - //
$imagePath: "../images/";
$side-column-border: none;
$side-column-card-header-bg: #ffffff !default;
// #f5399c
$side-column-card-header-color: #1174a5 !default;
// #3f1020;
$side-column-card-header-border-color: #1174a5 !default;
$side-column-card-header-border-width: 0 0 1px 0 !default;
$header_outer-bg: darken(#28aae1, 10%) !default;
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader2.png') no-repeat;
$header-color: #ffffff;
$topbar_container_background: #28aae1;
$form-control-background: #f9dcec;
$form-control-border-colors: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
$footer-color: #696969;
$footer-border-color: #28aae1;
$footer-link-color: #a9a9a9;
$navbar-dark-navbar-nav-li-a-background: #28aae1;
$postbody-title-background: $header_outer-bg;
$postbody-title-color: #000000;
// url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$brand-primary-of-option: $primary;
$navbar-default-link-background: $navbar-dark-navbar-nav-li-a-background;
$side-column-border: none;
$topbar_container_background: $navbar-dark-navbar-nav-li-a-background;
$tiki-navbar-fixed-height: 46px;
// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
$bg-dark: #1174a5;

// Update for Smartmenus
$dropdown-item: $dropdown-link-color !default;