// Flatly 5.2.0 -- This is a copy of vendor/vendor_bundled/thomaspark/bootswatch/dist/flatly/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "flatly" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #DE2F1B; // #e74c3c !default; WCAG
$orange:  #fd7e14 !default;
$yellow:  #A56909; // #f39c12 !default; WCAG
$green:   #12826C; // #18bc9c !default; WCAG
$teal:    #20c997 !default;
$cyan:    #207AB6; // #3498db !default; WCAG

$primary:       $blue !default;
$secondary:     #66797A; // $gray-600 !default; WCAG
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          #6C797A; // $gray-700 !default; WCAG

$min-contrast-ratio:   2.05 !default;

// Links

$link-color:                $success !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;

$text-muted:                  #707070 !important; // added for Tiki
$blockquote-footer-color:     #707070 !important; // added for Tiki

// Tables

$table-bg-scale:              0 !default;

// Dropdowns

$dropdown-link-color:               #707070; // WCAG
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-y:                .5rem !default !default;
$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-600 !default !default;
$nav-tabs-border-color:             $gray-200 !default;
$nav-link-disabled-color: #696969; // Changed for Tiki (WCAG)

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $primary !default;
$navbar-dark-active-color:          $primary !default;

$navbar-dark-brand-color:                 $white !default;
$navbar-dark-brand-hover-color:           $navbar-dark-brand-color !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $gray-200 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// List group

$list-group-hover-bg:               $gray-200 !default;
$list-group-disabled-bg:            $gray-200 !default;

// Figures (added for Tiki)
$figure-caption-color:              #707070 !important;
// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          .25rem !default;
$breadcrumb-active-color: #696969; // Added for Tiki (WCAG)

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

//--------------------------- Tiki SCSS variables